body{
   
    
    margin: 0;
    padding: 0;
}

.contenedor{
    
    margin:10px auto;
    padding: 10px;
    width: 80%;
}

h1{
    text-align: center;
}

li{
    border:1px solid #333;
    list-style-type: none;
    margin: 1px 50px 2px 0;
    padding: 5px 10px;
}

li:nth-child(odd)
{
    background: black;
    color: red;
}

h1{
    color:blue
}

*{
    color: rosybrown;
}